.eventCardImg
  width:90%
.notextUnderline
  text-decoration: none

.eventCardContent
  width: 100%
  color: #999
.eventCardtitle
  font-size: calc(.5vw + 10px)
  
.eventCardP
  font-size: calc(.2vw + 10px)

.eventCard:hover
  background-color:$accent