#newsCard a
  color:#999
#newsCard:hover a
  color: $primary
.ImginNewsCard
  overflow: hidden

.newCardContent
  opacity: 0
  width: 18rem
  height: 4rem
  position: absolute
  padding: 10px
  background-color: $accent
  color: $primary
  font-size: 2rem
  transform: translate(5rem, -15rem)
  margin: 0
  text-align: center

.cardinNewsView:hover .newCardContent
  opacity: 1