.productcardImg
  width:240px
  
.productcard:hover
  .q-btn
    background-color: $primary 
.productcardImg:hover
  transform: scaleX(1)
.productcardImg img
  // width:100%
  // height:100%

