.homeEvent-area1
  height: 60vh
  margin: 170px 0px
  display: flex
  flex-direction: column
  justify-content: space-around
  // background: #777
.firstEvent
  position: relative
.firstEvent::after
  content: ""
  position: absolute
  display: inline-block
  width: 360px
  height: 60vh
  /* top: 10px; */
  // left: 514px
  bottom: -82px
  background: $primary
  z-index: -1
.homeEventLeft
  padding: none
.homeEventRight
  padding: none
  height: 100%
.homeEventContent
  width: 80%
  // height: 75%
  margin:0 0 0 20px
  padding: 5px 0 5px 0
  display: flex
  justify-content: space-evenly
.contentText
  font-size:1vw

.homeEvent-area2
  height: 60vh
  margin:130px 0px
.secondEvent
  position: relative
.secondEvent::after
  content: ""
  position: absolute
  display: inline-block
  width: 100%
  height: 40vh
  top: 39px
  // left: 514px
  // bottom: -75px
  background: $positive
  z-index: -1
.homeEventLeft-2
  display: flex
  align-items: center
.homeEventRight-2
  display: flex
  flex-direction: column
  justify-content: center
.homeEventContent-2
  display: flex