.swal2-container
  z-index: 6100 !important

.pre
  white-space: pre-wrap

.textUnderline-none
  text-decoration: none

.product-area
  height: 75vh
  width: 90vw
  margin:100px 0px
  // padding:80px 0
  // vertical-align: middle
  // top: 50%
  // left: 50%
  // transform: translate(-50%,-50%)
  position: relative

  // .swiper
  //   width: 100%
  #swiper-dj-prev
    position: absolute
    left:30px
    --swiper-navigation-size:35px
    --swiper-theme-color:#E6DEDD
  #swiper-dj-prev:hover
    --swiper-theme-color:#182747
  #swiper-dj-next
    right:5px
    --swiper-navigation-size:35px
    --swiper-theme-color:#E6DEDD
  #swiper-dj-next:hover
    --swiper-theme-color:#182747

  .productCard:hover
    border: 1px solid $accent
    border-radius:5px
    box-shadow: 3px 3px 5px #e6dec9
  @media (min-width: 576px)
    // margin: 20px 0px

#product-img
  height: 300px
  width: 300px
