#parallaxArea
  margin-bottom:5rem
  display: flex
  // overflow: hidden //把其他不需要的地方隱藏
  position: relative
#parallaxArea .q-parallax__content
  background: rgba(0,0,0,0.2)

@keyframes typing
  from
    width: 0

@keyframes caret
  50%
    border-color: transparent


.dynamic-text
  font-size: calc( 3.75vw + 5px)
  width: calc(60vw + 10px)
  border-right: .05em solid
  overflow: hidden
  white-space: nowrap
  animation: typing 3s steps(60), caret 1s steps(1) infinite

// #parallaxArea::before 
//   content: ''
//   position: absolute
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   mask-image: radial-gradient(circle at center, transparent 0, transparent 35%, white 35%, white 50%, transparent 50%)
//   -webkit-mask-image: radial-gradient(circle at center, transparent 0, transparent 35%, white 35%, white 50%, transparent 50%)
//   -webkit-mask-image: -webkit-radial-gradient(circle at center, transparent 0, transparent 35%, white 35%, white 50%, transparent 50%)
//   background-color: white
//   opacity: 0.7
//   filter: blur(20px)
//   z-index: 2
