#front-layout .q-tab__content 
  height: inherit
  padding: 4px 0
  min-width: 40px
  display: flex
  align-content: flex-start 
  align-items: center

  .logoName
    width: calc(10vw + 10px)

.q-tabs__content
  justify-content: center

.logoQtabs .q-tab__icon
  display: none !important

.q-btn__content span.block
  font-size: calc( 1.25vw + 5px ) !important