#productView
  .product-content
    height:100%

  .showProduct
    height:800px
    margin:110px 0

  .recomProduct
    height: 450px
    margin: 0px 0 120px 0
    padding: 12px 0 10px 0
  @media screen and (min-width: 992px) 
    .showProduct
      height:500px
    .recomProduct .q-img
      width: 170px