#front-ProductsView
  padding: 30px
@media screen and (min-width: 556px) 
  #front-ProductsView
    margin:0 150px


.product-img
  height: 100%



.CardinProductsView
  magin:50px 30px

.CardinProductsView:hover .q-img
  -webkit-transform: scale(1.1)
.CardinProductsView:hover .q-btn
  background-color:#F89D13 !important
  color: $secondary !important
.CardinProductsView:hover
  transform: scale(1.1)